<!--- SECTOR FOTO --->
<div class="col-sm-12 col-md-7 offset-md-2 mt-4 p-0 post-container">
    <div class="media pt-3 pl-3 pb-1">
        <a href="{% url 'users:detail' post.user.username %}">
            <img class="mr-3 rounded-circle" height="35" src="{{ post.profile.picture.url }}" alt="{{ post.user.get_full_name }}">
        </a>
        <div class="media-body">
            <p style="margin-top: 6px;">{{ post.user.get_full_name  }}</p>
        </div>
        {% if request.user == post.user %}
        <form action="{% url 'posts:delete' pk=post.pk %}" method="post">{% csrf_token %}
            <button data-mdb-toggle="animation" data-mdb-animation="pulse" data-mdb-animation-reset="true" style="border-radius: 100px; outline:none;" type="submit" class="btn btn-sm btn-outline"><i class="fas fa-backspace"></i></button>
        </form>
        {% endif %}
    </div>

    <img style="width: 100%;" src="{{ post.photo.url }}" alt="{{ post.title }}">

    <!---  SECTOR LIKE --->
    <form action="{% url 'likes:like_post' %}" method='POST' class="ui form">
        {% csrf_token %}
        <div class="input-group"> 

                {% if user not in post.likes.all %}

                <button style="border-radius: 100px; outline:none;" type="submit" class="btn btn-sm btn-outline" value="{{post.id}}" name="post_id" >
                    <i class="far fa-heart" data-mdb-toggle="animation" data-mdb-animation="pulse" data-mdb-animation-reset="true"></i> 
                    <strong>{{post.likes.all.count}} Like(s)</strong>
                </button>
            
                {% else %}
                    <button  style="border-radius: 100px; outline:none;" type="submit" class="btn btn-sm btn-outline"  value="{{post.id}}" name="post_id" >
                        <i class="fas fa-heart" data-mdb-toggle="animation" data-mdb-animation="pulse" data-mdb-animation-reset="true"></i>
                        <strong>{{post.likes.all.count}} Like(s)</strong>
                    </button>
                    
                {% endif %}
        </div>
    </form>   


    <!-- SECTOR COMENTARIOS Y DETALLES -->
    <p class="ml-2 mt-2 mb-3">
        <b>{{ post.user.username }}</b> {{ post.title }} - <small>{{ post.created }}</small>
    </p>
    {% for comment in post.comments.all %}
        <ul class="list-unstyled ml-2">
            </li>
            <li class="media">
            <a href="{% url 'users:detail' comment.profile.user %}">
                <img class="mr-3 rounded-circle" height="30" src="{{ comment.profile.picture.url }}" alt="{{ profile.user.get_full_name }}">
            </a>
            <div class="media-body">
                <p>{{comment}}</p>
            </div>
            {% if request.user == comment.user %}
            <form action="{% url 'comments:delete_comment' pk=comment.pk %}" method="post">{% csrf_token %}
                <button style="border-radius: 100px; outline:none;" type="submit" class="btn btn-sm btn-outline"><i class="fas fa-trash-alt"></i></button>
            </form>
            {% endif %}
            </li>
        </ul>
    {% endfor %}
    <!-- INPUT COMENTARIO -->
    <form action="{% url 'comments:create' pk=post.pk %}" method="POST" >
        {% csrf_token %}
        <div class="input-group">
            <input style="margin-top: auto;" type="text" class="form-control" placeholder="Comment here" aria-label="text" name="text" value="{{ post.comment.pk}}" >
            <div class="input-group-append">
            <button class="btn btn-dark" style="margin-top: auto;" type="submit"><i class="fas fa-comment"></i></button>
            </div>
        </div> 
    </form>    
</div>