<div class="col-sm-12 col-md-7 offset-md-2 mt-1 p-0 post-container">
    <div class="media" id="header-post">
        <a href="{% url "users:detail" post.user.username %}">
            <img id="header-post-img"  src="{{ post.profile.picture.url }}" alt="{{ post.user.get_full_name }}">
        </a>
        <div class="media-body">
            <p id="header-post-name">{{ post.user.get_full_name }}</p>
        </div>
    </div>

    <img style="width: 100%;" src="{{ post.photo.url }}" alt="{{ post.title }}">

    <div class="" id="post-info">
        <a href="" style="color: #000; font-size: 20px;">
            <i class="far fa-heart"></i>
        </a>
        <b>{{ post.title }}</b> 
        <small>{{ post.created }}</small>
    </div>
</div>