{% extends "base.html" %}

{% block head_content %}
<title>{{ user.get_full_name }} | (@{{user.username}})</title>
{% endblock %}

{% block container %}

    <div class="container mb-4" style="margin-top: 2em;">
        <div class="row">
            <div class="col-sm-4 d-flex justify-content-center">
                <img src="{{ user.profile.picture.url }}" alt="{{ user.username}}" class="rounded-circle" width="150px" />
            </div>
            <div class="col-sm-7">
                <h2 style="font-weight: 100;">
                    {{ user.username }}
                    {% if user == request.user %}
                        <a
                            href="{% url 'users:update' %}"
                            class="ml-2 btn btn-sm btn-outline-info"
                        >
                            Edit profile
                        </a>
                    {% else %}
                        <a
                            href=""
                            class="ml-5 btn btn-sm btn-primary"
                        >
                            Follow
                        </a>
                    {% endif %}
                </h2>
                <div class="row mt-3" style="font-size: 1.2em">
                    <div class="col-sm-3">
                        <b>{{ posts.all.count }}</b> Posts
                    </div>
                <!---
                    <div class="col-sm-3">
                        <b>{{ user.profile.followers }}125</b> Followers
                    </div>
                    <div class="col-sm-3">
                        <b>{{ user.profile.following }}491</b >Following
                    </div>
                --->    
                </div>
                <div class="row mt-4">
                    <div class="col-sm-12">
                        <p>{{ user.profile.biography }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

<div class="container" id="user-posts">
        <div class="row mt-3">
            {% for post in posts %}
            <div class="col-sm-4 pt-4 pb-4 pr-5 pl-5 d-flex justify-content-center align-items-center">
                <a href="" class="border">
                    <img src="{{ post.photo.url }}" alt="{{ post.title }}" class="img-fluid"/>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}